<tr>
  <th scope="row"><%= progress.part %></th>
  <td><%= progress.part_lesson.name %></td>
  <td><%= progress.part_name %></td>
  <td><%= progress.course_name %></td>
  <td><%= progress.created_at.to_s(:long_ordinal)%></td>
</tr>
