<%= content_for :heading do %>
  Complete new lesson for <mark><%= @student.name %></mark>
<% end %>

<div class="card">
  <div class="card-body">
    <%= form_with(model: [@student, @progress], local: true) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { f: f } %>

      <div class="form-group">
        <%= f.label :part_id, "* Select a 'Lesson and Part' for completion" %>
        <%= f.select :part_id, @parts.collect { |p| [ p.detailed_to_s, p.id ] }, { include_blank: 'Please select' }, class: 'form-control' %>
        <small class="form-text text-muted">* This is a required field.</small>
      </div>

      <div class="form-group">
        <% if @course_lessons.present? %>
          <%= f.label :course_lesson_id, "Take the above selected 'Lesson' as part of a course" %>
          <%= f.select :course_lesson_id, @course_lessons.collect { |cl| [ cl, cl.id ] }, { include_blank: 'Please select' }, class: 'form-control' %>
        <% else %>
          <span class="text-muted">Currently no courses offer above available lessons.</span>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit 'Mark as complete',  class: 'btn btn-primary btn-block', data: { disable_with: 'Saving...' }  %>
      </div>
    <% end %>
  </div>
</div>
