<div class="card">
  <div class="card-body">
    <%= form_with(model: [student], local: true) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { f: f } %>

      <div class="form-group">
        <%= f.label :name, '* Student Name' %>
        <%= f.text_field :name, class: 'form-control' %>
        <small class="form-text text-muted">* This is a required field.</small>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
