<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lesson Name</th>
      <th scope="col">Part Name</th>
      <th scope="col">Course</th>
      <th scope="col">Completion Date/Time</th>
    </tr>
  </thead>
  <tbody>
    <% student.progresses.each do |progress| %>
      <%= render partial: 'progresses/item', locals: { progress: progress } %>
    <% end %>
  </tbody>
</table>
