<% content_for :heading do %>
  Students Listing
<% end %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Student Name</th>
      <th class="text-right">
        <%= link_to 'Add new student', new_student_path, class: 'btn btn-success' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><span class="lead"><%= link_to student.name, student_path(student) %></span></td>
        <td class="text-right"><%= link_to "View progress for #{student.name}", student_path(student), class: 'btn btn-secondary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
