<% content_for :heading do %>
  <%= @student.name %>
<% end %>

<%= link_to "Complete new lesson for #{@student.name}", new_student_progress_path(@student), class: 'btn btn-success' %>

<hr/>

<% if @student.progresses.present? %>
  <h4 class="section-header">Completed lessons:</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lesson Name</th>
        <th scope="col">Part Name</th>
        <th scope="col">Course</th>
        <th scope="col">Completion Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <% @student.progresses.each do |progress| %>
        <tr>
          <th scope="row"><%= progress.part %></th>
          <td><%= progress.part_lesson.name %></td>
          <td><%= progress.part_name %></td>
          <td><%= progress.course_name %></td>
          <td><%= progress.created_at.to_s(:long_ordinal)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class="text-warning"><%= @student.name %> has not completed any lessons.</span>
<% end %>
