<%= content_for :heading do %>
  Dashboard
<% end %>

<section class="jumbotron text-center">
  <h3 class="display-5">Application to manage student education</h3>
  <p>
    <%= link_to 'View Students', students_path, class: 'btn btn-primary my-2' %>
    <%= link_to 'View Teachers', teachers_path, class: 'btn btn-secondary my-2' %>
  </p>
</section>
