<% content_for :heading do %>
  Teachers Listing
<% end %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Teacher Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><span class="lead"><%= link_to teacher.name, teacher_path(teacher) %></span></td>
        <td class="text-right"><%= link_to "View report for #{teacher.name}", teacher_path(teacher), class: 'btn btn-secondary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
