<% content_for :heading do %>
  <%= @teacher.name %>
<% end %>

<% if @teacher.courses.present? %>
  Courses offered by <%= @teacher.name %>:
  <% @teacher.courses.each do |course| %>
    <span class="badge badge-light p-2"><%= course.name %></span>
  <% end %>
<% else %>
  <span class="text-muted"><%= @teacher.name %> does not offer any courses.</span>
<% end %>
<br />
<br />


<% if @teacher.progresses.present? %>
  <h4 class="section-header">Progress report of students taking courses offered by <%= @teacher.name%>:</h4>
  <br/>
  <% @teacher.progresses.group_by(&:student).each do |student, progresses| %>
    <div class="card mb-2">
      <div class="card-header">
        Lesson completions for <span class="mark"><%= student.name %></span>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Lesson Name</th>
            <th scope="col">Part Name</th>
            <th scope="col">Course</th>
            <th scope="col">Completion Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <% progresses.each do |progress| %>
            <%= render partial: 'progresses/item', locals: { progress: progress } %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <% if @teacher.courses.present? %>
    <span class="text-warning">No student has taken any of the above courses.</span>
  <% end %>
<% end %>
