/*Form Errors*/
#error_explanation {
  border: 2px solid theme-color("danger");
  padding: 5px 5px 15px;
  margin-bottom: 25px;
  background-color: theme-color("light");
  h2 {
    padding: 10px 10px 5px;
    font-size: 18px;
    margin: -7px;
    background-color: theme-color("danger");
    color: theme-color("light");
  }
  ul{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: -10px;
  }
  ul li {
    font-size: 14px;
    padding-top: 5px;
  }
}

.field_with_errors {
  color: theme-color("danger");
  input, select {
    border: 1px solid theme-color("danger");
  }
}

/* Form Actions */
.actions{
  padding: 15px;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  border-top: 1px solid colors("gray");
  background: theme-color("light");

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}
