<!DOCTYPE html>
<html>
  <head>
    <title>EduX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <%= link_to 'EduX', root_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0'%>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link' do %>
                  <span data-feather='home'></span>
                  Dashboard
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to students_path, class: 'nav-link' do %>
                  <span data-feather="users"></span>
                  Students
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to teachers_path, class: 'nav-link' do %>
                  <span data-feather="users"></span>
                  Teachers
                <% end %>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><%= yield(:heading) %></h1>
          </div>

          <% flash.each do |type, msg| %>
            <% case type %>
            <% when 'notice' %>
              <% type = 'success' %>
            <% when 'alert' %>
              <% type = 'error' %>
            <% end %>
            <% if type.present? && msg.present? && msg.is_a?(String) %>
              <div class="alert alert-<%=type%> alert-dismissible fade show" role="alert">
                <%= msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          <% end %>

          <%= yield %>
        </main>
      </div>
    </div>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
     feather.replace()
    </script>
  </body>
</html>
